TZ=Asia/Shanghai

# blog
NUXT_API_DOMAIN=http://server:3000
NUXT_SWR_ENABLED=0
NUXT_SWR_CACHE_MAXAGE=10
NUXT_SWR_CACHE_STALEMAXAGE=3600
NUXT_SWR_CACHE_MAX_PAGE=100
NUXT_SWR_CACHE_TTL=86400
NITRO_PORT=3007

# server
USER_NAME=admin
PORT=3000
DB_HOST=mongodb://mongo:27017/wikimoe
JSON_LIMIT=50mb
URLENCODED_LIMIT=50mb
IP2LOCATION_FILE_NAME=
MAX_HISTORYLOGS_SIZE=1073741824
